@import "tailwindcss";


@plugin "daisyui"{
  themes: light --default, dark;
}




/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #FF7300;
  --color-secondary: #3FCCF2;
  --color-accent: #FF9640;
  --color-neutral: #FFEEE0;
  --color-info: #FFDCC0;

}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #FF7300;
  --color-secondary: #3FCCF2;
  --color-accent: #FF9640;
  --color-neutral: #FFEEE0;
  --color-info: #FFDCC0;
  
}


.custom-swiper .swiper-pagination {
  bottom: -10px !important; /* move dots slightly below the image */
}




/* 

primary: #FF7300
secondary: #3FCCF2

extra:#FF9640
sky-bg: #E7F9FE
orangish bg ##FFEEE0, #FFDCC0
*/